/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
}
/* Shared Style */
.btn {
  border-radius: 70px;
  box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
  background: linear-gradient(
    69.4deg,
    rgb(251, 162, 79) -6.919%,
    rgb(255, 30, 30) 144.985%
  );
  padding: 18px 26px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.07);
}

/* Header Style */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 4rem;
}
.hero .hero-content {
  max-width: 510px;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(87, 87, 87);
}
.hero-title span {
  color: rgb(251, 162, 79);
}
.hero .description {
  color: rgb(130, 130, 130);
  font-size: 1rem;
  font-weight: 500;
  margin: 35px 0;
}
.hero-image-container {
  max-width: 665px;
  height: 665px;
  background-image: url(./images/shapes/Group8450.png);
  background-position: center;
  background-size: 500px 480px;
  background-repeat: no-repeat;
}
.hero img {
  width: 100%;
  margin-top: -20px;
  margin-left: -50px;
}
/* Header Style End */

/* About */
.about {
  background-image: url(./images/shapes/7.png);
  display: flex;
  align-items: center;
  gap: 160px;
  padding: 50px 180px 0 180px;
}
.about img {
  width: 284px;
  height: 467px;
}
.about .title {
  color: rgb(112, 112, 112);
  font-size: 2rem;
  font-weight: 700;
}
.about .description {
  color: rgb(24, 25, 31);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1rem 0 4rem 0;
}
/* About Section End */

/* Recipe Section */
.recipe {
  max-width: 1020px;
  margin: 80px auto;
  text-align: center;
}
.recipe .title {
  color: rgb(103, 103, 103);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}
.recipe .description {
  color: rgb(37, 37, 37);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
  max-width: 500px;
  margin: 20px auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: left;
}
.recipe .card {
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 22px;
}
.recipe .card img {
  width: 100%;
}
.recipe .food-title {
  color: rgb(24, 25, 31);
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: 1rem;
}
.recipe .food-description {
  color: rgb(24, 25, 31);
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

/* Social */
.social {
  max-width: 1020px;
  margin: 80px auto;
  text-align: center;
  padding: 30px 120px;
  border-radius: 16px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social h2 {
  color: rgb(24, 25, 31);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.social span {
  color: rgb(24, 25, 31);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Footer */
footer {
  background: rgb(11, 13, 23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
footer h5 {
  color: rgb(91, 91, 91);
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
footer span {
  background: linear-gradient(69.4deg, rgb(251, 162, 79), rgb(255, 30, 30));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
/* Responsive */
@media screen and (max-width: 576px) {
  .hero {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .hero .hero-title {
    font-size: 1.8rem;
  }
  .about {
    flex-direction: column;
    gap: 50px;
    padding: 20px;
  }
  .hero-image-container {
    background-size: 300px 300px;
  }
  .hero img {
    margin-top: 70px;
    margin-left: -30px;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .recipe {
    padding: 0 0.8rem;
  }
  .social {
    flex-direction: column;
  }
  .social div {
    margin: 1.5rem 0;
  }
  footer p {
    text-align: center;
  }
}
/* For Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 10px;
  }
  .about {
    flex-direction: column;
    gap: 50px;
    padding: 20px;
  }
}
